.portfolio-section {
    padding: 80px 0;
    position: relative;

    .bg {
        position: relative;
        height: 440px;

        img {
            width: 100%;
        }

        .title {
            color: #fff;
            font-size: 60px;
            position: absolute;
            top: 80px;
            left: 15%;

            @include sc1200 {
                top: 60px;
            }
        }
    }


    .content {
        height: 390px;
        position: absolute;
        bottom: 80px;

        .work-card {
            height: 390px;
            width: 390px;
            background: #fff;
            border-radius: 8px;
        }
    }
}