.service-section {
    padding-bottom: 80px;
    .title {
        font-weight: 400;
        font-size: 50px;
        text-align: center;
    }

    .content {
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
    }

    .service-card {
        width: 310px;
        text-align: center;

        img {
            width: 100px;
        }

        .title {
            font-size: 28px;
            margin-top: 24px;
        }

        .description {
            color: #909094;
            margin-top: 18px;
            line-height: 20px;
        }
    }
}